@import url('https://fonts.font.im/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  font-size: calc(0.425em + 0.3vw);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media only screen and (min-width: 1280px) {
  :root {
    font-size: calc(0.425em + 0.3vw);
  }
}

@media only screen and (max-width: 900px) {
  :root {
    font-size: calc(0.225em + 0.2vw);
  }
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: SF Pro SC, SF Pro Text, SF Pro Icons, PingFang SC, Helvetica Neue, Helvetica, Arial, sans-serif;
  --rev-percent: 0;
  --perc: 0%;
}

button {
  background: none;
  border: 0;
  box-sizing: initial;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
}

.container.title.wrapper {
  font-weight: 600;
  height: 200vh;
  background-color: #000;
}

.container.title.sticky {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: sticky;
  top: 0;
  color: #fff;
}

.title_content_wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0 1rem;
}

.logo {
  height: calc(4.5rem + var(--rev-percent) * 8rem);
  margin-top: calc(var(--rev-percent) * 2rem);
  margin-right: 1rem;

  transform: rotate(calc(360deg * var(--percent)));
}

.title_abbr {
  font-size: calc(4rem + var(--rev-percent) * 4rem);
}

.title_content {
  font-size: calc(4rem - var(--rev-percent) * 4rem);
  opacity: var(--percent);
}

.title_chinese {
  font-size: calc(1rem + var(--rev-percent) * 4rem);
  background-image: linear-gradient(75deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 33.33%, rgba(255, 255, 255, 0) 66.67%, rgba(255, 255, 255, 0) 100%);
  background-size: 300% 100%;
  /* background-position-x: calc((100 * var(--percent))*100%); */
  background-position-x: var(--perc);

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.container.keywords.wrapper {
  display: block;
  height: 400vh;
  background-color: #fff;
}

.container.keywords.sticky {
  --padding-top: 20vh;
  min-height: calc(100vh - var(--padding-top));
  max-height: calc(100vh - var(--padding-top));
  margin-left: 5rem;
  font-size: 4rem;
  position: sticky;
  /* top: 20vh; */
  padding-top: var(--padding-top);
  top: 0;
  color: #000;
  /* opacity = -(2*x-1)^(2)+1 */
  /* opacity: calc(-1 * (3 * var(--percent) - 1.5) * (3 * var(--percent) - 1.5) + 2); */
  /* opacity: var(--percent); */
}

.mask {
  height: 60vh;
  position: relative;
  overflow: hidden;
}

.div.keywords {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 20vh;

  transform: translateY(50%);
  transition: .5s transform ease-in-out;
}

.div.keywords h2 {
  font-size: 10rem;

  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}

.div.keywords[data-show] {
  transform: translateY(-50%);
}

.div.keywords[data-up] {
  transform: translateY(-150%);
}

.keywords_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.div.keywords:nth-child(1) h2 {
  background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.div.keywords:nth-child(2) h2 {
  background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.div.keywords:nth-child(3) h2 {
  background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.div.keywords:nth-child(4) h2 {
  background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}

.keywords_content span {
  font-size: 2rem;
  width: 40%;
  margin-left: 2rem;
}

@media only screen and (max-width:900px) {
  .keywords_content {
    flex-direction: column;
  }

  .keywords_content span {
    width: 80%;
    font-size: 3rem;
  }
}

.container.cards.wrapper {
  width: -webkit-fill-available;
  width: fill-available;
  width: moz-available;
  display: block;
  height: 150vh;
  background-color: #fafafa;
}

.container.cards.sticky {
  width: -webkit-fill-available;
  width: fill-available;
  width: moz-available;
  font-size: 4rem;
  color: #000;
  position: relative;
  top: 10%;
}

@media only screen and (min-width:900px) {
  .container.cards.list {
    --card-w-h-ratio: calc(3 / 4);
  }
}

@media only screen and (max-width:900px) {
  .container.cards.list {
    --card-w-h-ratio: calc(9 / 16);
  }
}

.container.cards.list {
  --card-base-width: min(70vw, calc(60vh * var(--card-w-h-ratio)));
  --card-hover-scale: 1.02;
  height: calc(var(--card-hover-scale) * 1.05 * var(--card-base-width) / var(--card-w-h-ratio));
  margin-top: 1%;
}

.cards-title {
  margin-left: 5rem;
  font-size: 1.5rem;
}

.cards-title h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.cards-title span {
  opacity: 0.5;
}

@media only screen and (max-width: 900px) {
  .cards-title {
    margin-left: 10rem;
    font-size: 2.3rem;
  }
}

.card-set {
  display: grid;
  justify-content: start;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: max-content;
  grid-auto-flow: column;
  grid-column-gap: 2rem;
  column-gap: 2rem;
  grid-row-gap: 0px;
  row-gap: 0px;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  align-items: center;
  height: calc(var(--card-hover-scale) * 1.05 * var(--card-base-width) / var(--card-w-h-ratio));
  margin: 2rem 0;
  list-style: none;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  scrollbar-width: none;
  -ms-overflow-style: none;

  scroll-padding-left: 10rem;
  scroll-padding-right: 10rem;
}

.card-set::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.card {
  /* --card-w-h-ratio: calc(3 / 4); */
  --width: var(--card-base-width);
  width: var(--width);
  height: calc(var(--width) / var(--card-w-h-ratio));
  --size: calc(var(--width) * 0.1);
  border-radius: calc(var(--size) / 2);
  font-size: calc(var(--size) / 2);
  /* transition: transform .3s cubic-bezier(0, 0, 0.5, 1); */
  transition: transform .3s ease-in-out;
  transform-style: preserve-3d;
}

.card:hover {
  transform: scale(var(--card-hover-scale));
}

.card[current] {
  transform: scale(var(--card-hover-scale));
}

.list-items {
  position: relative;
  box-sizing: border-box;
  scroll-snap-align: start;
  margin: 0;
  padding: 0;
  display: list-item;
}

.list-items.placeholder {
  width: 2vw;
}

.card-button-more {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border-radius: inherit;
  z-index: 1;
  background: none;
  border: 0;
  box-sizing: initial;
  color: inherit;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
  padding: 0;
  margin: 0;
}

.card-face {
  border-radius: calc(var(--size) / 2);
  color: #fff;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  /* background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f); */
}

.card-face[popup="match"] {
  background: url('/static/img/match.JPG'), rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-size: cover;
  background-position-x: -250px;
}

.card-face[popup="offer"] {
  background: url('/static/img/offer.jpg'), rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
}

.card-face[popup="money"] {
  background: url('/static/img/money.png'), rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: cover;
  background-position-x: -150px;
}

.card-face[popup="train"] {
  background: url('/static/img/train.png'), rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-size: cover;
}

.card-face[popup="family"] {
  background: url('/static/img/family.jpeg'), rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-size: cover;
  background-position-x: center;
}

.card-face .text {
  margin: calc(var(--size) / 1.2);
}

.card-face .text h3 {
  font-size: var(--size);
  margin: 0;
  margin-bottom: calc(var(--size) / 4);
}

/* .card-set-flip { */
/*   display: flex; */
/*   list-style: none; */
/* } */
/**/
/* .card-flip { */
/*   width: var(--width); */
/*   height: calc(var(--width) / var(--card-w-h-ratio)); */
/*   --size: calc(var(--width) * 0.1); */
/*   border-radius: calc(var(--size) / 2); */
/*   font-size: calc(var(--size) / 2); */
/*   position: relative; */
/*   margin: 1rem; */
/* } */
/**/
/* .flip { */
/*   --width: calc(var(--card-base-width) * 0.7); */
/*   backface-visibility: hidden; */
/*   transition: all 1s ease; */
/*   transform-style: preserve-3d; */
/* } */
/**/
/* .card-flip:hover .flip { */
/*   transform: rotateY(180deg); */
/*   --width: var(--card-base-width); */
/* } */
/**/
/* .side { */
/*   color: #333; */
/*   width: 100%; */
/*   height: 100%; */
/*   position: absolute; */
/*   left: 0; */
/*   top: 0; */
/* } */
/**/
/* .front { */
/*   backface-visibility: hidden; */
/*   background: lightseagreen; */
/* } */
/**/
/* .back { */
/*   backface-visibility: hidden; */
/*   transform: rotateY(180deg); */
/*   background: lightblue; */
/* } */
/**/
/* .card-flip.side .text { */
/*   margin: calc(var(--size) / 1.2); */
/*   line-height: var(--size); */
/* } */
/**/
/* .card-flip.side .text h2 { */
/*   font-size: calc(var(--size) * 1.25); */
/*   margin: 0; */
/* } */
/**/
/* .card-flip.side:hover .text h2 { */
/*   font-size: 0px; */
/* } */
/**/
/* .card-flip.side .text h3 { */
/*   font-size: var(--size); */
/*   margin: 0; */
/*   margin-bottom: calc(var(--size) / 4); */
/* } */

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  display: none;
  z-index: 10;

  transition: backdrop-filter .4s ease-in-out, -webkit-backdrop-filter .4s ease-in-out;
}

.popup {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 100%;
  justify-content: center;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  display: none;
  overflow: auto;
  margin-bottom: 40px;
  transition: top .4s ease-in-out;
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: self-start;
  align-items: center;

  width: 80%;
  /* height: fit-content; */
  height: calc(100% - 40px);
  background-color: #fff;
  border-radius: 18px 18px 0 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  overflow: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 0;
  padding: 20px;
  z-index: 999;
}

.popup-container::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .popup-container {
    width: 88.71%;
  }
}

@media only screen and (max-width: 1068px) {
  .popup-container {
    width: 89.3%;
  }
}

@media only screen and (max-width: 734px) {
  .popup-container {
    width: 90.35%;
  }
}


@media only screen and (max-width: 480px) {
  .popup-container {
    width: 100%;
  }
}

.btn-icon {
  --icon-color: #d6d6d7;
  --icon-background: rgb(51, 51, 54);
  --icon-hover-color: #fff;
  --icon-hover-background: #37373a;
  --icon-active-color: #fff;
  --icon-active-background: #2f2f32;
  color: var(--icon-color);
  background-color: var(--icon-background);
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 100ms linear, color 100ms linear;
}

.btn-icon svg {
  fill: currentColor;
  /* inset-inline-start: 50%; */
  /* transform: translateX(-50%); */
  width: 2.5rem;
  height: 2.5rem;
}

.btn-icon:hover {
  color: var(--icon-hover-color);
  background-color: var(--icon-hover-background);
}

.btn-icon:active {
  color: var(--icon-active-color);
  background-color: var(--icon-active-background);
}

.page-button-container {
  margin-top: 3vh;
  display: flex;
  justify-content: right;
  align-items: center;
}

.arrow-button {
  transition: opacity 100ms linear;
}

.arrow-button .arrow-icon {
  --icon-color: rgba(0, 0, 0, 0.56);
  --icon-background: rgba(210, 210, 215, 0.64);
  --icon-hover-color: rgba(0, 0, 0, 0.64);
  --icon-hover-background: rgba(223, 223, 227, 0.6976);
  --icon-active-color: rgba(0, 0, 0, 0.64);
  --icon-active-background: rgba(193, 193, 198, 0.6544);
}

.arrow-button:disabled {
  opacity: 0.42;
  cursor: default;
}

.arrow-button:disabled .arrow-icon {
  --icon-hover-color: var(--icon-color);
  --icon-hover-background: var(--icon-background);
  --icon-active-color: var(--icon-color);
  --icon-active-background: var(--icon-background);
}

.arrow-icon {
  color: var(--icon-color);
  background-color: var(--icon-background);
  width: 4rem;
  height: 4rem;
}

.arrow-icon svg {
  width: 3.5rem;
  height: 3.5rem;
}

@media only screen and (max-width: 900px) {
  .arrow-icon {
    width: 8rem;
    height: 8rem;
  }

  .arrow-icon svg {
    width: 7rem;
    height: 7rem;
  }
}

.popup-close-btn {
  position: sticky;
  order: 1;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  height: 5rem;
  width: 5rem;
  margin: 0;
  padding: 0;
  border: 0;
  margin-inline-end: 1.5rem;
  margin-top: 1.5rem;
  top: 1.5rem;
  border: none;
  border-radius: 50%;
}

.popup-content {
  order: 2;
  box-sizing: border-box;
  padding-inline-start: 3%;
  padding-inline-end: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 1rem;
  width: 100%;
  font-size: 1.6rem;
}

.popup-content h2 {
  font-size: 3rem;
  font-weight: 400;
  color: gray;
}

.popup-content p {
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
}

.popup-content-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 3% 0;
  background: #fafafa;
  border-radius: 20px;
  padding: 4rem;
  overflow: hidden;
  position: relative;
  will-change: transform;
}

.popup-content-card span {
  font-size: 3.5rem;
  font-weight: 600;
  color: grey;
}

.popup-content-card b {
  font-size: 3.5rem;
  font-weight: 600;
  margin: 1rem 0;
  color: #000;
}

.popup-content-card-image {
  width: 100%;
  display: flex;
  margin: 3rem 0;
  flex-direction: column;
}

.popup-content-card-image img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-more-btn {
  position: absolute;
  bottom: 4%;
  right: 4%;
  z-index: 9;
}

.more-icon {
  width: 4rem;
  height: 4rem;

  color: rgba(0, 0, 0, 0.56);
  background-color: rgba(210, 210, 215, 0.95);
}

.more-icon svg {
  width: 1.8rem;
  height: 1.8rem;
}

@media only screen and (max-width: 900px) {
  .more-icon {
    width: 10rem;
    height: 10rem;
  }

  .more-icon svg {
    width: 5rem;
    height: 5rem;
  }
}

.popup-content-card a {
  color: inherit;
}

/* .popup-content-card-image.yak { */
/*   position: relative; */
/*   width: 100%; */
/*   background-image: url("/static/img/yak-after.png"); */
/*   background-size: cover; */
/* } */
/**/
/* .popup-content-card-image.yak img { */
/*   opacity: calc((var(--percent)) * 4); */
/* } */

@media only screen and (max-width: 500px) {
  .popup-content-card-image.schools {
    --bg: url(/static/img/schools/thu.png) no-repeat center center / cover, url(/static/img/schools/pku.png) no-repeat center center / cover, url(/static/img/schools/cmu.png) no-repeat center center / cover, url(/static/img/schools/kaust.png) no-repeat center center / cover !important;
  }
}

.popup-content-card-image.offers,
.popup-content-card-image.schools {
  position: relative;
  width: 100%;
  background: var(--bg);
}

.popup-content-card-image.offers::after,
.popup-content-card-image.schools::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--after-bg);
  opacity: var(--bg-opacity);
}

.popup-content-card-image.reimbursement img,
.popup-content-card-image.offers img,
.popup-content-card-image.schools img {
  opacity: 0;
}

.popup-content-card-image.reimbursement {
  background: var(--bg) no-repeat left center;
  background-size: 0;
}

.popup-content-card-image.nav-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  --nav-item-width: 8rem;
  --nav-item-height: 2rem;
  --nav-item-padding: 1rem;
  --transition-speed: .5s;
}

nav {
  background-color: #fff;
  padding: var(--nav-item-padding) 0;
  border-radius: var(--nav-item-height);
  position: relative;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, .1);
}

nav::after {
  content: '';
  display: block;
  width: calc(var(--nav-item-width) - var(--nav-item-padding));
  height: calc(var(--nav-item-height) + var(--nav-item-padding));
  position: absolute;
  background: #e2e8f0;
  top: 0;
  left: 0;
  margin: calc(var(--nav-item-padding) / 2);
  border-radius: var(--nav-item-height);
  /* transition: var(--transition-speed) all cubic-bezier(0.42, 0, 0.68, 1.35); */
  transition: var(--transition-speed) all ease-in-out;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: var(--nav-item-height);
  position: relative;
  z-index: 10;
}

nav ul li {
  font-size: 1.3rem;
  width: var(--nav-item-width);
  text-align: center;
  display: flex;
}

nav ul li label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.nav-bar-element:nth-child(1):checked~nav::after {
  transform: translatex(0);
}

.nav-bar-element:nth-child(2):checked~nav::after {
  transform: translatex(calc(var(--nav-item-width) * 1));
}

.nav-bar-element:nth-child(3):checked~nav::after {
  transform: translatex(calc(var(--nav-item-width) * 2));
}

.nav-bar-element:nth-child(4):checked~nav::after {
  transform: translatex(calc(var(--nav-item-width) * 3));
}

.nav-bar-element:nth-child(5):checked~nav::after {
  transform: translatex(calc(var(--nav-item-width) * 4));
}

.nav-bar-element:nth-child(6):checked~nav::after {
  transform: translatex(calc(var(--nav-item-width) * 5));
}

input[type="radio"] {
  display: none;
}

.nav-images.content {
  width: calc(var(--nav-item-width) * 6);
  height: calc(var(--nav-item-width) * 6 / 16 * 10);
  background-color: #fff;
  margin-top: var(--nav-item-height);
  border-radius: var(--nav-item-padding);
  display: flex;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, .1);
}

.nav-images.content div {
  width: calc(var(--nav-item-width) * 6);
  background-color: #000;
  flex-shrink: 0;
  /* transition: var(--transition-speed) all cubic-bezier(0.42, 0, 0.68, 1.35); */
  transition: var(--transition-speed) all ease-in-out;
  background-size: cover;
}

.nav-images.content div:nth-child(1) {
  background-image: url('/static/img/match/match-7.jpg');
}

.nav-images.content div:nth-child(2) {
  background-image: url('/static/img/match/match-1.jpg');
}

.nav-images.content div:nth-child(3) {
  background-image: url('/static/img/match/match-3.jpg');
}

.nav-images.content div:nth-child(4) {
  background-image: url('/static/img/match/match-4.jpg');
}

.nav-images.content div:nth-child(5) {
  background-image: url('/static/img/match/match-6.jpg');
}

.nav-images.content div:nth-child(6) {
  background-image: url('/static/img/match/match-2.jpg');
}

.nav-bar-element:nth-child(1):checked~.nav-images.content div {
  transform: translatex(calc(var(--nav-item-width) * 6 * 0));
}

.nav-bar-element:nth-child(2):checked~.nav-images.content div {
  transform: translatex(calc(var(--nav-item-width) * 6 * -1));
}

.nav-bar-element:nth-child(3):checked~.nav-images.content div {
  transform: translatex(calc(var(--nav-item-width) * 6 * -2));
}

.nav-bar-element:nth-child(4):checked~.nav-images.content div {
  transform: translatex(calc(var(--nav-item-width) * 6 * -3));
}

.nav-bar-element:nth-child(5):checked~.nav-images.content div {
  transform: translatex(calc(var(--nav-item-width) * 6 * -4));
}

.nav-bar-element:nth-child(6):checked~.nav-images.content div {
  transform: translatex(calc(var(--nav-item-width) * 6 * -5));
}

.container.terminal.wrapper {
  /* width: 100vw; */
  width: -webkit-fill-available;
  width: fill-available;
  width: moz-available;
  height: 900vh;
  background-color: #1e1e1e;

  --color-prime-1: #43C733;
  --color-prime-2: #D6492F;
  --color-prime-3: #41C4D1;
  --color-prime-4: #6B42F6;
  --color-prime-5: #B9B72F;
  --color-white: #fff;
  --color-fade: #D4DBE1;
  --top-bar-background: #3e3e3e;
  --top-bar-title: #bababa;
  --top-bar-box-shadow: 0px 4px 5px rgba(0, 0, 0, .12);

  /* light theme */
  /* --color-white: #000; */
  /* --color-fade: #0a0a0a; */
  /* --top-bar-background: #ECECED; */
  /* --top-bar-title: #474747; */
  /* --top-bar-box-shadow: 0px 4px 5px rgba(0, 0, 0, .12); */
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  /* background-color: #3e3e3e; */
  background-color: var(--top-bar-background);
  height: 35px;

  position: sticky;
  top: 0;

  z-index: 999;

  box-shadow: var(--top-bar-box-shadow);
}

.terminal-close-btns {
  position: absolute;
  left: 20px;
  width: 60px;
}

.terminal-title {
  font-size: 15px;
  /* color: #bababa; */
  color: var(--top-bar-title);
  width: fill-available;
  width: -webkit-fill-available;
  width: -moz-available;

  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal-close-btns img {
  width: 100%;
}

.terminal-body {
  display: block;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: left; */
  /* align-items: left; */
  color: #fff;

  position: sticky;
  top: 40px;

  max-height: calc(100vh - 40px);
  overflow: scroll;

  font-family: monospace, Cascadia Code, Fira Code, Monaco, Courier New, Consolas, Menlo, "Microsoft YaHei", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
}

.terminal-result {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.terminal-line {
  padding-left: 2rem;
  padding-right: 2rem;

  font-size: 2rem;
  /* letter-spacing: 0.1rem; */

  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: fill-available;
  width: -webkit-fill-available;
  width: -moz-available;

  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
}

.terminal-prompt {
  display: inline-block;
  overflow: hidden;
  width: auto;
}

.terminal-prompt div {
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
}

.terminal-prompt .prompt-start {
  color: var(--color-prime-4);
  font-weight: 600;
}

.terminal-prompt .prompt-end {
  color: var(--color-prime-2);
  font-weight: 600;
}

.terminal-prompt .prompt-user {
  color: var(--color-prime-3);
}

.terminal-prompt .prompt-separator {
  color: var(--color-white);
}

.terminal-prompt .prompt-host {
  color: var(--color-prime-1);
}

.terminal-prompt .prompt-dir {
  color: var(--color-prime-5);
  font-weight: 600;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.terminal-command {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  --cmd-max-width: 50%;
  max-width: 0;
  transition: max-width 1s steps(16, end);
  /* animation: typing 1s steps(40, end); */
}

@media only screen and (max-width: 900px) {
  .terminal-command {
    --cmd-max-width: 80%;
  }
}

.terminal-command .command-cmd {
  color: var(--color-prime-1);
}

.terminal-command .command-arg {
  color: var(--color-white);
}

.terminal-command .command-option {
  color: var(--color-white);
}

.valid-dir {
  /* font-style: italic; */
  text-decoration: underline;
}

.terminal-result {
  display: none;
}

.terminal-cursor {
  width: 1.5rem;
  height: 3rem;
  background-color: #fff;

  margin-left: 0.3rem;
  border: 1px solid #fff;

  animation: blink 1s infinite;
  animation-timing-function: step-end;
}

.prime-color-1 {
  color: var(--color-prime-1);
}

.prime-color-2 {
  color: var(--color-prime-2);
}

.prime-color-3 {
  color: var(--color-prime-3);
}

.prime-color-4 {
  color: var(--color-prime-4);
}

.prime-color-5 {
  color: var(--color-prime-5);
}

.bold {
  font-weight: 600;
}

.markdown-body {
  font-weight: 400;
  color: var(--color-fade);
}

.markdown-body b {
  font-weight: 600;
  color: var(--color-white);
}

.markdown-cite {
  margin-left: 2rem;
  color: var(--color-fade);
  border-left: 3px solid var(--color-fade);
}


.terminal-block {
  display: none;

  max-height: 5rem;
  overflow: hidden;
  white-space: nowrap;
  transition: none;
}

.container.faq.wrapper {
  height: 800vh;
  background-color: #fff;
}

.faq-list {
  margin: 0;
  height: 100vh;
  display: grid;
  list-style-type: disc;
  unicode-bidi: isolate;
  list-style: none;
  padding: 0;
  position: sticky;
  top: 0;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

  transition: all .5s cubic-bezier(0.4, 0, 0.2, 1);

  opacity: min(calc(8 * var(--rev-percent)), calc(8 * var(--percent)));

  --base-gradient-percent-max: -230%;
  --base-gradient-end: 100%;
  --end-offset: max(0%, calc((var(--rev-percent) - 0.75) / 0.25 * var(--base-gradient-end)));
  --base-gradient-percent-1: calc(max(calc(var(--rev-percent) * 4 * var(--base-gradient-percent-max)), var(--base-gradient-percent-max)) - var(--end-offset));
  --base-gradient-percent-2: calc(var(--base-gradient-percent-1) + 50%);
  --base-gradient-percent-3: calc(var(--base-gradient-percent-2) + 50%);
  --base-gradient-percent-4: calc(var(--base-gradient-percent-3) + 50%);
  --base-gradient-percent-5: calc(var(--base-gradient-percent-4) + 50%);
  --base-gradient-percent-6: calc(var(--base-gradient-percent-5) + 50%);
  --base-gradient-percent-7: calc(var(--base-gradient-percent-6) + 50%);
  --base-gradient-percent-8: calc(var(--base-gradient-percent-7) + 50%);

  --base-gradient-offset: 50%;

  --gradient-angle: 90deg;
  --gradient-color-1: #004492;
  --gradient-color-2: #bfe6b3;
  --gradient-color-3: #a3a7e7;
  --gradient-color-4: #030619;
  --gradient-color-5: #180644;
  --gradient-color-6: #3e2c98;
  --gradient-color-7: #e2dbc9;
  --gradient-color-8: #ec8535;
}

.faq-item:nth-child(1),
.faq-item:nth-child(6) {
  --gradient-offset: var(--base-gradient-offset);
}


.faq-item:nth-child(2),
.faq-item:nth-child(5) {
  --gradient-offset: calc(var(--base-gradient-offset) - 5%);
}


.faq-item:nth-child(3),
.faq-item:nth-child(4) {
  --gradient-offset: calc(var(--base-gradient-offset) - 8%);
}

.faq-item:nth-child(1) {
  --q-opacity: min(min(0.8, calc((var(--rev-percent) - 0.0) / 0.2)), calc((var(--percent) - 0.15) / 0.2));
}

.faq-item:nth-child(2) {
  --q-opacity: min(min(0.8, calc((var(--rev-percent) - 0.03) / 0.2)), calc((var(--percent) - 0.12) / 0.2));
}

.faq-item:nth-child(3) {
  --q-opacity: min(min(0.8, calc((var(--rev-percent) - 0.06) / 0.2)), calc((var(--percent) - 0.09) / 0.2));
}

.faq-item:nth-child(4) {
  --q-opacity: min(min(0.8, calc((var(--rev-percent) - 0.09) / 0.2)), calc((var(--percent) - 0.06) / 0.2));
}

.faq-item:nth-child(5) {
  --q-opacity: min(min(0.8, calc((var(--rev-percent) - 0.12) / 0.2)), calc((var(--percent) - 0.03) / 0.2));
}

.faq-item:nth-child(6) {
  --q-opacity: min(min(0.8, calc((var(--rev-percent) - 0.15) / 0.2)), calc((var(--percent) - 0.0) / 0.2));
}

.faq-item {
  --gradient-percent-1: calc(var(--base-gradient-percent-1) + var(--gradient-offset));
  --gradient-percent-2: calc(var(--base-gradient-percent-2) + var(--gradient-offset));
  --gradient-percent-3: calc(var(--base-gradient-percent-3) + var(--gradient-offset));
  --gradient-percent-4: calc(var(--base-gradient-percent-4) + var(--gradient-offset));
  --gradient-percent-5: calc(var(--base-gradient-percent-5) + var(--gradient-offset));
  --gradient-percent-6: calc(var(--base-gradient-percent-6) + var(--gradient-offset));
  --gradient-percent-7: calc(var(--base-gradient-percent-7) + var(--gradient-offset));
  --gradient-percent-8: calc(var(--base-gradient-percent-8) + var(--gradient-offset));

  --gradient: var(--gradient-angle), var(--gradient-color-1) var(--gradient-percent-1), var(--gradient-color-2) var(--gradient-percent-2), var(--gradient-color-3) var(--gradient-percent-3), var(--gradient-color-4) var(--gradient-percent-4), var(--gradient-color-5) var(--gradient-percent-5), var(--gradient-color-6) var(--gradient-percent-6), var(--gradient-color-7) var(--gradient-percent-7), var(--gradient-color-8) var(--gradient-percent-8);

  background-image: url('/static/img/noise.png'), linear-gradient(var(--gradient));
  background-blend-mode: normal;

  box-shadow: inset 0px -60px 50px -40px rgba(0, 0, 0, .05);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  position: relative;

  padding-left: 3%;
}

.faq-question {
  font-size: 3rem;
  font-weight: 600;

  opacity: var(--q-opacity);
  transition: opacity .3s ease-in-out;

  color: #fff;
}

.faq-answer {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 60%;
  position: absolute;
  opacity: 0;
  transition: opacity .3s ease-in-out;

  color: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 900px) {
  .faq-answer {
    max-width: 57%;
    font-size: 3rem;
  }

  .faq-question {
    font-size: 4rem;
  }
}

.faq-answer a {
  color: inherit;
}

.faq-answer b {
  font-weight: 600;
  color: #fff;
}

.faq-list[sticky] .faq-item[focused] .faq-question {
  opacity: 0;
}

.faq-list[sticky] .faq-item[focused] .faq-answer {
  opacity: 1;
}

.container.business-card-wrapper {
  height: 400vh;
  background-color: #fff;

  width: -webkit-fill-available;
  width: fill-available;
  width: moz-available;
}

.business-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  width: -webkit-fill-available;
  width: fill-available;
  width: moz-available;

  position: sticky;
  top: 0;
  /* background-color: #ebff99; */
  /* background-image: */
  /*   radial-gradient(at 77% 2%, hsla(264, 89%, 62%, 1) 0px, transparent 50%), */
  /*   radial-gradient(at 44% 94%, hsla(215, 95%, 78%, 1) 0px, transparent 50%), */
  /*   radial-gradient(at 21% 61%, hsla(169, 80%, 64%, 1) 0px, transparent 50%), */
  /*   radial-gradient(at 0% 74%, hsla(103, 76%, 61%, 1) 0px, transparent 50%), */
  /*   radial-gradient(at 74% 80%, hsla(89, 97%, 70%, 1) 0px, transparent 50%), */
  /*   radial-gradient(at 8% 26%, hsla(119, 85%, 78%, 1) 0px, transparent 50%), */
  /*   radial-gradient(at 93% 38%, hsla(221, 86%, 70%, 1) 0px, transparent 50%); */
  /* background-blend-mode: hard-light; */
  background-color: #e493d0;
  background-image:
    radial-gradient(closest-side, rgba(235, 105, 78, 1), rgba(235, 105, 78, 0)),
    radial-gradient(closest-side, rgba(243, 11, 164, 1), rgba(243, 11, 164, 0)),
    radial-gradient(closest-side, rgba(254, 234, 131, 1), rgba(254, 234, 131, 0)),
    radial-gradient(closest-side, rgba(170, 142, 245, 1), rgba(170, 142, 245, 0)),
    radial-gradient(closest-side, rgba(248, 192, 147, 1), rgba(248, 192, 147, 0));
  background-size:
    130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax 110vmax,
    90vmax 90vmax;
  background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
  background-repeat: no-repeat;
  animation: 10s movement linear infinite;

  opacity: calc(4 * var(--rev-percent));
}

@keyframes movement {

  0%,
  100% {
    background-size:
      130vmax 130vmax,
      80vmax 80vmax,
      90vmax 90vmax,
      110vmax 110vmax,
      90vmax 90vmax;
    background-position:
      -80vmax -80vmax,
      60vmax -30vmax,
      10vmax 10vmax,
      -30vmax -10vmax,
      50vmax 50vmax;
  }

  25% {
    background-size:
      100vmax 100vmax,
      90vmax 90vmax,
      100vmax 100vmax,
      90vmax 90vmax,
      60vmax 60vmax;
    background-position:
      -60vmax -90vmax,
      50vmax -40vmax,
      0vmax -20vmax,
      -40vmax -20vmax,
      40vmax 60vmax;
  }

  50% {
    background-size:
      80vmax 80vmax,
      110vmax 110vmax,
      80vmax 80vmax,
      60vmax 60vmax,
      80vmax 80vmax;
    background-position:
      -50vmax -70vmax,
      40vmax -30vmax,
      10vmax 0vmax,
      20vmax 10vmax,
      30vmax 70vmax;
  }

  75% {
    background-size:
      90vmax 90vmax,
      90vmax 90vmax,
      100vmax 100vmax,
      90vmax 90vmax,
      70vmax 70vmax;
    background-position:
      -50vmax -40vmax,
      50vmax -30vmax,
      20vmax 0vmax,
      -10vmax 10vmax,
      40vmax 60vmax;
  }
}

.business-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --w-h-radio: calc(3 / 2);
  --width: 45vw;
  width: var(--width);
  height: calc(var(--width) / var(--w-h-radio));

  box-shadow: 2px 2px 12px 8px rgba(0, 0, 0, .1);
  /* backdrop-filter: blur(21px) saturate(150%); */
  /* -webkit-backdrop-filter: blur(21px) saturate(150%); */
  background-color: rgba(217 217 217 / 11%);
  border-radius: 12px;
  /* border: 0.5px solid rgba(255, 255, 255, 0.010); */

  background-image: url('/static/img/noise.png');

  transform-style: preserve-3d;
  transform: translateY(max(calc(-20% * var(--rev-percent) + 10%), 0%));

  font-family: "QuickSand", "Helvetica Neue", -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

.business-card * {
  transform-style: preserve-3d;
}

.business-card-header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(var(--width) / 45 * 8);
  height: calc(var(--width) / 45 * 8);

  position: absolute;
  top: calc(var(--width) / 45 * 1);
  left: calc(var(--width) / 45 * 1.8);

  transform: translateZ(0.1px);

  /* width: calc(var(--width) / 45 * 15); */
  /* height: calc(var(--width) / 45 * 15); */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* transform: translateY(-40%) translateX(-40%) translateZ(0.1px) rotateZ(-35deg); */
}

.business-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(var(--width) / 45 * 13);
  height: calc(var(--width) / 45 * 13);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(60%) translateX(-35%) translateZ(0.1px) rotateZ(0deg);

  display: none;
}

.business-card-header img,
.business-card-footer img {
  width: 100%;
  height: 100%;
}

.business-card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  position: absolute;
  padding-left: calc(var(--width) / 45 * 2);
  left: 0;
  top: calc(var(--width) / 45 * 12.5);

  width: 100%;

  transform: translateY(-50%) translateZ(calc(var(--width) / 45 * 1));

  text-shadow: 0 0 15px rgba(0, 0, 0, 0.18);
}

.business-card-title .cn {
  font-size: calc(var(--width) / 45 * 3.5);
  letter-spacing: .2rem;
  font-weight: 600;
  color: rgba(250, 250, 250, 0.8);
}

.business-card-title .en {
  font-size: calc(var(--width) / 45 * 1.5);
  font-weight: 400;
  color: rgba(250, 250, 250, 0.4);

  transform: translateZ(-calc(var(--width) / 45 * 0.5));
}

.note {
  font-size: calc(var(--width) / 45 * 1.8);
  font-weight: 400;
  color: rgba(250, 250, 250, 0.6);

  position: absolute;
  bottom: calc(var(--width) / 45 * 8.3);
  /* left: calc(var(--width) / 45 * 1.2); */
}

.business-card-button-container {
  /* display: flex; */
  /* width: 100%; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* position: absolute; */
  /* bottom: calc(var(--width) / 45 * 2); */
  /* transform: translateY(-50%) translateZ(30px); */

  display: grid;
  grid-template-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.03);
  /* -webkit-backdrop-filter: blur(20px); */
  /* backdrop-filter: blur(20px); */
  background-image: url('/static/img/noise.png');

  height: calc(var(--width) / 45 * 8);

  border-radius: 0 0 12px 12px;

  position: absolute;
  bottom: 0;
  width: 100%;
}

.business-card-button {
  display: flex;
  justify-content: center;
  align-items: center;

  /* width: calc(var(--width) / 45 * 10); */
  /* height: calc(var(--width) / 45 * 4); */

  /* background-color: rgba(0, 0, 0, 0.03); */
  /* -webkit-backdrop-filter: blur(20px); */
  /* backdrop-filter: blur(20px); */
  /* background-image: url('/static/img/noise.png'); */

  /* border-radius: .calc(var(--width) / 45 * 8); */

  font-size: calc(var(--width) / 45 * 1.5);
  color: rgba(250, 250, 250, 0.8);

  transition: all .25s ease-in-out;

  /* border-right: 1px solid rgba(250, 250, 250, 0.2); */

  transform: translateZ(calc(var(--width) / 45 * 1));
  height: 100%;
  width: 100%;
}

.business-card-button:hover {
  /* background-color: rgba(0, 0, 0, 0.05); */
  transform: translateZ(calc(var(--width) / 45 * 2)) scale(1.03);
}

.business-card-button a {
  color: rgba(250, 250, 250, 0.8);
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.business-card-button button {
  width: 100%;
  height: 100%;

  text-align: center;

  text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

/* .business-card-button-container>div:nth-child(1) { */
/*   border-radius: 0 0 0 12px; */
/* } */
/**/
/* .business-card-button-container>div:nth-child(4) { */
/*   border-radius: 0 0 12px 0; */
/*   border-right: none; */
/* } */

.business-card-button-container>split {
  width: 1px;
  height: 80%;
  background-color: rgba(250, 250, 250, 0.3);
}

@media only screen and (max-width: 900px) {
  .business-card {
    --width: 90vw;
  }
}

/*
.popup-background {
  background-color: rgba(150, 150, 150, 0.5);
}

.popup-container {
  backdrop-filter: blur(21px) saturate(150%);
  -webkit-backdrop-filter: blur(21px) saturate(150%);
  background-color: rgba(217 217 217 / 11%);
}

.popup-content {
  color: rgba(250, 250, 250, 0.95);
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.18);
}

.popup-content h2 {
  color: rgba(250, 250, 250, 0.8);
}

.popup-content-card {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-image: url('/static/img/noise.png');
}

.popup-content span {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: none;
  font-weight: 450;
}

.popup-content b {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
}

nav {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-image: url('/static/img/noise.png');
}

nav::after {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.close-icon {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-image: url('/static/img/noise.png');
  color: #fff;
}
*/

.container.pocker.wrapper {
  height: 300vh;
  background-color: #000;
}

.container.pocker.sticky {
  min-height: 100vh;
  position: sticky;
  top: 0;
}

.flip-cards-title {
  font-size: 2rem;
  color: #fff;
  text-align: center;

  position: absolute;
  top: 15%;
  left: 0;
  transform: translateY(-50%);

  width: 100%;

}

.flip-cards-title h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.flip-cards-title span {
  opacity: 0.5;
}

.pocker-container {
  --w-h-radio: calc(2/3);
  --total-card-count: 6;

  height: 80vh;
  width: -webkit-fill-available;
  width: fill-available;
  width: moz-available;
  display: flex;

  position: relative;
  opacity: calc(min(8 * var(--rev-percent), 8 * (var(--percent) - 0.125)));
}

.card-flip {
  --base-width: 15vw;
  --width: var(--base-width);
  --border-radius: calc(var(--width) / 17);
  --rotate-angle: 100deg;
  height: calc(var(--width) / var(--w-h-radio));
  width: var(--width);
  border-radius: var(--border-radius);

  position: absolute;
  top: 70%;
  left: 50%;
  --fade-in-percent: max(0, min((var(--rev-percent) - 0) * 8, 1));
  --fade-out-percent: max(0, min((var(--percent) - 0.2) * 8, 1));
  --perc: min(var(--fade-in-percent), var(--fade-out-percent));
  --base-transform: translate(calc(-50% + 25% * var(--perc)), -50%);
  --transform: var(--base-transform) rotateZ(calc(((-1 * var(--rotate-angle) / 1.45) + (var(--rotate-angle) / var(--total-card-count) * var(--index))) * var(--perc)));
  transform: var(--transform);
  transform-origin: 25% 100%;

  transition: all 0.4s ease;
  cursor: pointer;
}

.flip {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);

  backface-visibility: hidden;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  transform-style: preserve-3d;
}

.card-flip[flipped] {
  --width: calc(var(--base-width) * 1.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(0deg) !important;
  z-index: calc(var(--total-card-count) + 2) !important;
  cursor: default;
}

.card-flip[flipped] .flip {
  transform: rotateY(540deg) rotateZ(90deg);
}

.side {
  color: #333;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);

  position: absolute;
  left: 0;
  top: 0;

  box-shadow: 0 0 calc(var(--width) / 50) rgba(120, 120, 120, 0.28);

  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  background-color: rgba(230 230 230 / 60%);
  background-image: url('/static/img/noise.png');
}

.side.front {
  font-family: "Share Tech Mono", "Rubik Glitch Pop", "Ga Maamli", "Times New Roman", Times, serif;
  z-index: 2;
}

.spade,
.club,
.black-joker {
  --color: #0a0a0a;
  color: var(--color);
  fill: var(--color);
}

.heart,
.diamond,
.red-joker {
  --color: #c01010;
  color: var(--color);
  fill: var(--color);
}

.pocker-face {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */

  font-size: calc(var(--width) / 6);
  font-weight: 600;
  line-height: 0.8;
  color: currentColor;

  text-align: center;
  letter-spacing: calc(-1 * var(--width) / 40);
}

.pocker-face .suit {
  font-size: calc(var(--width) / 5.8);
  width: 100%;
}

.pocker-face .suit img {
  width: 100%;
  height: 100%;
  color: currentColor;
}

.pocker-face.top-left {
  position: absolute;
  top: calc(var(--width) / 20);
  left: calc(var(--width) / 20);
}

.pocker-face.bottom-right {
  position: absolute;
  bottom: calc(var(--width) / 20);
  right: calc(var(--width) / 20);
  transform: rotate(180deg);
}

.pocker-title {
  font-size: calc(var(--width) / 7);
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.pocker-title.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.joker .pocker-face {
  transform: none;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: calc(var(--width) / 8.5);
  letter-spacing: calc(-1 * var(--width) / 40);
  /* letter-spacing: 0.2vw; */
}

.side.back {
  backface-visibility: hidden;
  transform: rotateY(180deg) !important;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.intro {
  --padding: calc(var(--width) / 10);
  padding: var(--padding);
  width: calc(100% - 2 * var(--padding));
  height: calc(100% - 2 * var(--padding));
  text-orientation: sideways;
  writing-mode: vertical-rl;

  color: #000;
  font-family: "Share Tech Mono", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.intro-title {
  font-size: calc(var(--width) / 10);
  font-weight: 600;
  text-align: left;
  margin: 0;
  padding: 0;
  opacity: 0.8;
}

.intro-keywords {
  font-size: calc(var(--width) / 30);
  font-weight: 400;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-left: calc(var(--width) / 20);

  opacity: 0.5;
}

.intro-keywords::before {
  content: '关键词:';
}

.intro-content {
  font-size: calc(var(--width) / 23);
  font-weight: 400;
  text-align: left;
  text-indent: calc(var(--width) / 21);

  margin: 0;
  padding: 0;
  margin-right: calc(var(--width) / 40);

  color: rgba(0, 0, 0, 0.7);
}

.intro-content b {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.intro-subtitle {
  font-size: calc(var(--width) / 20);
  font-weight: 600;
  text-align: left;
  margin: 0;
  padding: 0;
  opacity: 0.8;

  margin-right: calc(var(--width) / 40);
}

.intro-subtitle::before {
  content: '>';
}

.intro.compact {
  --padding: calc(var(--width) / 17);
}

.intro.compact .intro-title {
  font-size: calc(var(--width) / 13);
}

.intro.compact .intro-keywords {
  margin-left: calc(var(--width) / 50);
}

.intro.compact .intro-content {
  font-size: calc(var(--width) / 25.5);
  margin-right: calc(var(--width) / 50);
}

.intro.compact .intro-subtitle {
  font-size: calc(var(--width) / 22);
}

.card-flip[flipped] .front {
  background-color: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  background-image: none;
  z-index: -1;

  opacity: 0.8;
}

.card-flip[flipped] .back {
  z-index: 99;
}

.flip-background {
  cursor: pointer;
}



@media only screen and (max-width: 600px) {
  .card-flip {
    --base-width: 21vw;
    --rotate-angle: 100deg;
    left: 52%;
    top: 80%;
    --transform: rotateZ(calc(((-1 * var(--rotate-angle) / 1.1) + (var(--rotate-angle) / var(--total-card-count) * var(--index))) * var(--perc))) translateY(calc(-20% * var(--index))) translateX(calc(13% * var(--index))) var(--base-transform);
  }

  .side {
    background-color: rgba(255 255 255 / 80%);
  }

  .flip-cards-title {
    font-size: 3rem;
  }

  .card-flip[flipped] {
    --width: calc(var(--base-width) * 2.5);
    left: 48%;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0);
  }
}

.scroll-up-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--color);

  animation: up-down 1.5s infinite;
}

.scroll-up-icon svg {
  width: 100%;
  height: 100%;
  transform: translateY(10%);
}

.scroll-up-icon:hover {
  animation-play-state: paused;
}

.scroll-hint {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title .scroll-hint {
  --color: gray;
  --icon-size: 2.3rem;

  bottom: 0;
  left: 0;
  font-size: 1.8rem;
  font-weight: 100;
  color: var(--color);
  opacity: calc(1 - 8 * var(--rev-percent));
}

.keywords .scroll-hint {
  --color: #b0b0b0;
  --icon-size: 3rem;

  bottom: 2vh;
  left: 0;
  opacity: calc(1 - 8 * (var(--rev-percent) - 0.875));
}

.pocker .scroll-hint {
  --color: gray;
  --icon-size: 3rem;

  bottom: 1vh;
  left: 0;

  opacity: calc(0.4 - max(8 * (var(--rev-percent) - 0.875) * 0.4, 0));
}

.faq-list .scroll-hint {
  --color: #b0b0b0;
  --icon-size: 3rem;
  bottom: .5vh;
  left: 0;
  opacity: calc(0.3 - max(8 * (var(--rev-percent) - 0.875) * 0.3, 0));
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  position: absolute;
  bottom: 1vh;
  left: 0;

  width: -webkit-fill-available;
  width: fill-available;
  width: moz-available;

  background-color: transparent;
  color: #fafafa;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  font-family: "Share Tech Mono", "Rubik Glitch Pop", "Ga Maamli", "Times New Roman", Times, serif;
}
