:root {
  font-size: calc(0.425em + 0.3vw);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 1280px) {
  :root {
    font-size: calc(0.425em + 0.3vw);
  }
}

@media only screen and (max-width: 900px) {
  :root {
    font-size: calc(0.2em + 0.2vw);
  }
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: SF Pro SC, SF Pro Text, SF Pro Icons, PingFang SC, Helvetica Neue, Helvetica, Arial, sans-serif;
  --rev-percent: 0;
  --perc: 0%;
}

button {
  background: none;
  border: 0;
  box-sizing: initial;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
}

.container.title.wrapper {
  font-weight: 600;
  height: 200vh;
  background-color: #000;
}

.container.title.sticky {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: sticky;
  top: 0;
  color: #fff;
}

.title_content_wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0 1rem;
}

.logo {
  height: calc(4.5rem + var(--rev-percent) * 8rem);
  margin-top: calc(var(--rev-percent) * 2rem);
  margin-right: 1rem;

  transform: rotate(calc(360deg * var(--percent)));
}

.title_abbr {
  font-size: calc(4rem + var(--rev-percent) * 4rem);
}

.title_content {
  font-size: calc(4rem - var(--rev-percent) * 4rem);
  opacity: var(--percent);
}

.title_chinese {
  font-size: calc(1rem + var(--rev-percent) * 4rem);
  background-image: linear-gradient(75deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 33.33%, rgba(255, 255, 255, 0) 66.67%, rgba(255, 255, 255, 0) 100%);
  background-size: 300% 100%;
  /* background-position-x: calc((100 * var(--percent))*100%); */
  background-position-x: var(--perc);

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.container.keywords.wrapper {
  display: block;
  height: 400vh;
  background-color: #fff;
}

.container.keywords.sticky {
  min-height: 70vh;
  margin-left: 5rem;
  font-size: 4rem;
  position: sticky;
  top: 20vh;
  color: #000;
  /* opacity = -(2*x-1)^(2)+1 */
  /* opacity: calc(-1 * (3 * var(--percent) - 1.5) * (3 * var(--percent) - 1.5) + 2); */
  /* opacity: var(--percent); */
}

.mask {
  height: 60vh;
  position: relative;
  overflow: hidden;
}

.div.keywords {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 20vh;

  transform: translateY(50%);
  transition: .5s transform ease-in-out;
}

.div.keywords h2 {
  font-size: 10rem;

  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}

.div.keywords[data-show] {
  transform: translateY(-50%);
}

.div.keywords[data-up] {
  transform: translateY(-150%);
}

.keywords_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.div.keywords:nth-child(1) h2 {
  background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.div.keywords:nth-child(2) h2 {
  background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.div.keywords:nth-child(3) h2 {
  background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.div.keywords:nth-child(4) h2 {
  background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}

.keywords_content span {
  font-size: 2rem;
  width: 40%;
  margin-left: 2rem;
}

@media only screen and (max-width:900px) {
  .keywords_content {
    flex-direction: column;
  }

  .keywords_content span {
    width: 80%;
    font-size: 3rem;
  }
}

.container.cards.wrapper {
  width: 100vw;
  display: block;
  height: 150vh;
  background-color: #fafafa;
}

.container.cards.sticky {
  width: 100vw;
  font-size: 4rem;
  color: #000;
  position: relative;
  top: 10%;
}

.container.cards.list {
  width: 100vw;
  margin-top: 5%;
}

.cards-title {
  margin-left: 10rem;
}

.card-set {
  display: grid;
  justify-content: start;
  grid-template-rows: repeat(1, auto);
  grid-template-columns: max-content;
  grid-auto-flow: column;
  grid-column-gap: 2rem;
  column-gap: 2rem;
  grid-row-gap: 0px;
  row-gap: 0px;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  height: 80vh;
  margin: 2rem 0;
  list-style: none;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
  }
}

@media only screen and (min-width:900px) {
  .card {
    --w-h-ratio: calc(3 / 4);
  }
}

@media only screen and (max-width:900px) {
  .card {
    --w-h-ratio: calc(9 / 16);
  }
}

.card {
  margin-top: 2%;
  --base-width: 70vw;
  --base-height: 70vh;
  /* --w-h-ratio: calc(3 / 4); */
  --width: min(var(--base-width), calc(var(--base-height) * var(--w-h-ratio)));
  width: var(--width);
  height: calc(var(--width) / var(--w-h-ratio));
  --size: calc(var(--width) * 0.1);
  border-radius: calc(var(--size) / 2);
  font-size: calc(var(--size) / 2);
  transition: transform .3s cubic-bezier(0, 0, 0.5, 1);
}

@media only screen and (max-width: 900px) {
  .card {
    margin-top: 5%;
  }
}

.card:hover {
  transform: scale(1.03);
}

.card[current] {
  transform: scale(1.03);
}

.list-items {
  position: relative;
  box-sizing: border-box;
  scroll-snap-align: start;
  margin: 0;
  padding: 0;
  display: list-item;
}

.list-items.placeholder {
  width: 2vw;
}

.card.button.more {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border-radius: inherit;
  z-index: 1;
  background: none;
  border: 0;
  box-sizing: initial;
  color: inherit;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
  padding: 0;
  margin: 0;
}

.card.face {
  color: #fff;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  /* background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f); */
}

.card.face[popup="match"] {
  background: url('/static/img/match.JPG'), rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-size: cover;
  background-position-x: -250px;
}

.card.face[popup="offer"] {
  background: url('/static/img/offer.jpg'), rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
}

.card.face[popup="money"] {
  background: url('/static/img/money.png'), rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: cover;
  background-position-x: -150px;
}

.card.face[popup="train"] {
  background: url('/static/img/train.png'), rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-size: cover;
}

.card.face[popup="family"] {
  background: url('/static/img/family.jpeg'), rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-size: cover;
  background-position-x: center;
}

.card.face .text {
  margin: calc(var(--size) / 1.2);
}

.card.face .text h3 {
  font-size: var(--size);
  margin: 0;
  margin-bottom: calc(var(--size) / 4);
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  display: none;
  z-index: 99;

  transition: backdrop-filter .4s ease-in-out,
    --webkit-backdrop-filter .4s ease-in-out;
}


.popup {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 100%;
  justify-content: center;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  display: none;
  overflow: auto;
  margin-bottom: 40px;
  transition: top .4s ease-in-out;
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: self-start;
  align-items: center;

  width: 80%;
  /* height: fit-content; */
  height: calc(100% - 40px);
  background-color: #fff;
  border-radius: 18px 18px 0 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  overflow: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 0;
  padding: 20px;
  z-index: 999;
}

@media only screen and (min-width: 1280px) {
  .popup-container {
    width: 88.71%;
  }
}

@media only screen and (max-width: 1068px) {
  .popup-container {
    width: 89.3%;
  }
}

@media only screen and (max-width: 734px) {
  .popup-container {
    width: 90.35%;
  }
}


@media only screen and (max-width: 480px) {
  .popup-container {
    width: 100%;
  }
}

.btn-icon {
  color: #d6d6d7;
  background-color: rgb(51, 51, 54);
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon svg {
  fill: currentColor;
  /* inset-inline-start: 50%; */
  /* transform: translateX(-50%); */
  width: 2.5rem;
  height: 25.rem;
}

.popup-close-btn {
  position: sticky;
  order: 1;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  height: 5rem;
  width: 5rem;
  margin: 0;
  padding: 0;
  border: 0;
  margin-inline-end: 1.5rem;
  margin-top: 1.5rem;
  top: 1.5rem;
  border: none;
  border-radius: 50%;
}

.popup-content {
  order: 2;
  box-sizing: border-box;
  padding-inline-start: 3%;
  padding-inline-end: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 1rem;
  width: 100%;
  font-size: 1.6rem;
}

.popup-content h2 {
  font-size: 3rem;
  font-weight: 400;
  color: gray;
}

.popup-content p {
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
}

.popup-content-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 3% 0;
  background: #fafafa;
  border-radius: 20px;
  padding: 4rem;
  overflow: hidden;
  position: relative;
  will-change: transform;
}

.popup-content-card span {
  font-size: 3.5rem;
  font-weight: 600;
  color: grey;
}

.popup-content-card b {
  font-size: 3.5rem;
  font-weight: 600;
  margin: 1rem 0;
  color: #000;
}

.popup-content-card-image {
  width: 100%;
  display: flex;
  margin: 3rem 0;
  flex-direction: column;
}

.popup-content-card-image img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-more-btn {
  position: absolute;
  bottom: 4%;
  right: 4%;
  z-index: 9;
}

.more-icon {
  width: 5rem;
  height: 5rem;
}

.more-icon svg {
  width: 2rem;
  height: 2rem;
}

@media only screen and (max-width: 900px) {
  .more-icon {
    width: 10rem;
    height: 10rem;
  }

  .more-icon svg {
    width: 5rem;
    height: 5rem;
  }
}

.popup-content-card a {
  color: inherit;
}

/* .popup-content-card-image.yak { */
/*   position: relative; */
/*   width: 100%; */
/*   background-image: url("/static/img/yak-after.png"); */
/*   background-size: cover; */
/* } */
/**/
/* .popup-content-card-image.yak img { */
/*   opacity: calc((var(--percent)) * 4); */
/* } */

.popup-content-card-image.offers,
.popup-content-card-image.schools {
  position: relative;
  width: 100%;
  background: var(--bg);
}

.popup-content-card-image.offers::after,
.popup-content-card-image.schools::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--after-bg);
  opacity: var(--bg-opacity);
}

.popup-content-card-image.reimbursement img,
.popup-content-card-image.offers img,
.popup-content-card-image.schools img {
  opacity: 0;
}

.popup-content-card-image.reimbursement {
  background: var(--bg) no-repeat left center;
  background-size: 0;
}

.popup-content-card-image.nav-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  --nav-item-width: 8rem;
  --nav-item-height: 2rem;
  --nav-item-padding: 1rem;
  --transition-speed: .5s;
}

nav {
  background-color: #fff;
  padding: var(--nav-item-padding) 0;
  border-radius: var(--nav-item-height);
  position: relative;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, .1);
}

nav::after {
  content: '';
  display: block;
  width: calc(var(--nav-item-width) - var(--nav-item-padding));
  height: calc(var(--nav-item-height) + var(--nav-item-padding));
  position: absolute;
  background: #e2e8f0;
  top: 0;
  left: 0;
  margin: calc(var(--nav-item-padding) / 2);
  border-radius: var(--nav-item-height);
  /* transition: var(--transition-speed) all cubic-bezier(0.42, 0, 0.68, 1.35); */
  transition: var(--transition-speed) all ease-in-out;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: var(--nav-item-height);
  position: relative;
  z-index: 10;
}

nav ul li {
  font-size: 1.3rem;
  width: var(--nav-item-width);
  text-align: center;
  display: flex;
}

nav ul li label {
  width: 100%;
  height: 100%;
}

.nav-bar-element:nth-child(1):checked~nav::after {
  transform: translatex(0);
}

.nav-bar-element:nth-child(2):checked~nav::after {
  transform: translatex(calc(var(--nav-item-width) * 1));
}

.nav-bar-element:nth-child(3):checked~nav::after {
  transform: translatex(calc(var(--nav-item-width) * 2));
}

.nav-bar-element:nth-child(4):checked~nav::after {
  transform: translatex(calc(var(--nav-item-width) * 3));
}

.nav-bar-element:nth-child(5):checked~nav::after {
  transform: translatex(calc(var(--nav-item-width) * 4));
}

.nav-bar-element:nth-child(6):checked~nav::after {
  transform: translatex(calc(var(--nav-item-width) * 5));
}

input[type="radio"] {
  display: none;
}

.nav-images.content {
  width: calc(var(--nav-item-width) * 6);
  height: calc(var(--nav-item-width) * 6 / 16 * 10);
  background-color: #fff;
  margin-top: var(--nav-item-height);
  border-radius: var(--nav-item-padding);
  display: flex;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, .1);
}

.nav-images.content div {
  width: calc(var(--nav-item-width) * 6);
  background-color: #000;
  flex-shrink: 0;
  /* transition: var(--transition-speed) all cubic-bezier(0.42, 0, 0.68, 1.35); */
  transition: var(--transition-speed) all ease-in-out;
  background-size: cover;
}

.nav-images.content div:nth-child(1) {
  background-image: url('/static/img/match/match-7.jpg');
}

.nav-images.content div:nth-child(2) {
  background-image: url('/static/img/match/match-1.jpg');
}

.nav-images.content div:nth-child(3) {
  background-image: url('/static/img/match/match-3.jpg');
}

.nav-images.content div:nth-child(4) {
  background-image: url('/static/img/match/match-4.jpg');
}

.nav-images.content div:nth-child(5) {
  background-image: url('/static/img/match/match-6.jpg');
}

.nav-images.content div:nth-child(6) {
  background-image: url('/static/img/match/match-2.jpg');
}

.nav-bar-element:nth-child(1):checked~.nav-images.content div {
  transform: translatex(calc(var(--nav-item-width) * 6 * 0));
}

.nav-bar-element:nth-child(2):checked~.nav-images.content div {
  transform: translatex(calc(var(--nav-item-width) * 6 * -1));
}

.nav-bar-element:nth-child(3):checked~.nav-images.content div {
  transform: translatex(calc(var(--nav-item-width) * 6 * -2));
}

.nav-bar-element:nth-child(4):checked~.nav-images.content div {
  transform: translatex(calc(var(--nav-item-width) * 6 * -3));
}

.nav-bar-element:nth-child(5):checked~.nav-images.content div {
  transform: translatex(calc(var(--nav-item-width) * 6 * -4));
}

.nav-bar-element:nth-child(6):checked~.nav-images.content div {
  transform: translatex(calc(var(--nav-item-width) * 6 * -5));
}

.container.terminal.wrapper {
  width: 100vw;
  height: 900vh;
  background-color: #1e1e1e;

  --color-prime-1: #43C733;
  --color-prime-2: #D6492F;
  --color-prime-3: #41C4D1;
  --color-prime-4: #6B42F6;
  --color-prime-5: #B9B72F;
  --color-white: #fff;
  --color-fade: #D4DBE1;
  --top-bar-background: #3e3e3e;
  --top-bar-title: #bababa;
  --top-bar-box-shadow: 0px 4px 5px rgba(0, 0, 0, .12);

  /* light theme */
  /* --color-white: #000; */
  /* --color-fade: #0a0a0a; */
  /* --top-bar-background: #ECECED; */
  /* --top-bar-title: #474747; */
  /* --top-bar-box-shadow: 0px 4px 5px rgba(0, 0, 0, .12); */
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  /* background-color: #3e3e3e; */
  background-color: var(--top-bar-background);
  height: 35px;

  position: sticky;
  top: 0;

  z-index: 999;

  box-shadow: var(--top-bar-box-shadow);
}

.terminal-close-btns {
  position: absolute;
  left: 20px;
  width: 60px;
}

.terminal-title {
  font-size: 15px;
  /* color: #bababa; */
  color: var(--top-bar-title);
  width: fill-available;
  width: -webkit-fill-available;
  width: -moz-available;

  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal-close-btns img {
  width: 100%;
}

.terminal-body {
  display: block;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: left; */
  /* align-items: left; */
  color: #fff;

  position: sticky;
  top: 40px;

  max-height: calc(100vh - 40px);
  overflow: scroll;

  font-family: Cascadia Code, Fira Code, Monaco, Courier New, Consolas, Menlo, "Microsoft YaHei", "PingFang SC", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif, monospace;
}

.terminal-result {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.terminal-line {
  padding-left: 2rem;

  font-size: 3rem;
  letter-spacing: 0.1rem;
  padding-right: 0.3rem;

  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: fill-available;
  width: -webkit-fill-available;
  width: -moz-available;

  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
}

.terminal-prompt {
  display: inline-block;
  overflow: hidden;
  width: auto;
}

.terminal-prompt div {
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
}

.terminal-prompt .prompt-start {
  color: var(--color-prime-4);
  font-weight: 600;
}

.terminal-prompt .prompt-end {
  color: var(--color-prime-2);
  font-weight: 600;
}

.terminal-prompt .prompt-user {
  color: var(--color-prime-3);
}

.terminal-prompt .prompt-separator {
  color: var(--color-white);
}

.terminal-prompt .prompt-host {
  color: var(--color-prime-1);
}

.terminal-prompt .prompt-dir {
  color: var(--color-prime-5);
  font-weight: 600;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.terminal-command {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  --cmd-max-width: 50%;
  max-width: 0;
  transition: max-width 1s steps(16, end);
  /* animation: typing 1s steps(40, end); */
}

@media only screen and (max-width: 900px) {
  .terminal-command {
    --cmd-max-width: 80%;
  }
}

.terminal-command .command-cmd {
  color: var(--color-prime-1);
}

.terminal-command .command-arg {
  color: var(--color-white);
}

.terminal-command .command-option {
  color: var(--color-white);
}

.valid-dir {
  /* font-style: italic; */
  text-decoration: underline;
}

.terminal-result {
  display: none;
}

.terminal-cursor {
  width: 1.5rem;
  height: 3rem;
  background-color: #fff;

  margin-left: 0.3rem;
  border: 1px solid #fff;

  animation: blink 1s infinite;
  animation-timing-function: step-end;
}

.prime-color-1 {
  color: var(--color-prime-1);
}

.prime-color-2 {
  color: var(--color-prime-2);
}

.prime-color-3 {
  color: var(--color-prime-3);
}

.prime-color-4 {
  color: var(--color-prime-4);
}

.prime-color-5 {
  color: var(--color-prime-5);
}

.bold {
  font-weight: 600;
}

.markdown-body {
  font-weight: 400;
  color: var(--color-fade);
}

.markdown-body b {
  font-weight: 600;
  color: var(--color-white);
}

.markdown-cite {
  margin-left: 2rem;
  color: var(--color-fade);
  border-left: 3px solid var(--color-fade);
}


.terminal-block {
  display: none;

  max-height: 5rem;
  overflow: hidden;
  white-space: nowrap;
  transition: none;
}
